.add__form-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  min-width: 40px;
  max-height: 40px;
  top: -190.28px;
  right: 1.28px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .add__form-button {
    min-width: 26px;
    max-height: 26px;
    top: -183.28px;
    right: 1.28px;
  }
}
