.add__form-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .add__form-button {
    min-width: 26px;
    max-height: 26px;
    top: -47.62px;
    right: 7.38px;
  }
}
