.elements__group-info {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 0 0 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__group-info h1 {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 25px 0 31px 21px;
}

.elements__group-info p {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin-right: 15px;
}

.elements__group-info p:hover {
  opacity: 0.5;
}
