.profile__info-button {
  min-width: 24px;
  min-height: 24px;
  margin: 0;
  max-width: 18px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  align-self: center;
  opacity: 1;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.profile__info-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__info-button {
    min-height: 18px;
  }
}
